.media-section {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.media-scroll {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}

.media-item {
    text-align: center;
    margin-right: 15px;
    flex: 0 0 auto;
    flex-direction: column;
    display: block;
    width: 180px;
}

.media-item img {
    width: 180px; /* Adjust .media-item p when this is changed */
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
}

.media-item a {
    text-decoration: none;
    color: black;
}

.media-item p {
    max-width: 180px; /* Keep text width equal to image */
    overflow: hidden;
    word-break: break-word;
    text-align: center; 
    margin-top: 5px; 
}
