{% extends "ScreenCritic/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title_block %}
<title>Home - ScreenCritic</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}?v=1">
{% endblock %}


{% block content %}

<div class="page-container">

<div class="left-section">


<h1>Top Reviews</h1>

<!-- Bootstrap Carousel -->

<div id="topReviewsCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Carousel Indicators -->
    <div class="carousel-indicators">
        {% for review in top_reviews %}
            <button type="button" data-bs-target="#topReviewsCarousel" data-bs-slide-to="{{ forloop.counter0 }}" 
                {% if forloop.first %}class="active" aria-current="true"{% endif %} 
                aria-label="Slide {{ forloop.counter }}">
            </button>
        {% endfor %}
    </div>

    <!-- Carousel Items -->
    <div class="carousel-inner">
        {% for review in top_reviews %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="review-slide">
                    <a href="{% url review.media.type|route_name slug=review.media.slug %}">
                        <img src="{{ review.media.cover_image|resolve_image }}" alt="{{ review.media.title }}" class="carousel-media-image">
                    </a>
                    <div class="review-content">
                        <a href="{% url review.media.type|route_name slug=review.media.slug %}">
                            <h4>{{ review.media.title }}</h4>
                        </a>
                        <div class="review-header">
                            <div class="review-user">
                                <a href="{% url 'ScreenCritic:profile_by_username' username=review.user.username %}" class="profile-link">
                                    {% if review.user.userprofile.profile_picture %}
                                        <img src="{{ review.user.userprofile.profile_picture|resolve_image }}" class="profile-pic" alt="User Pic">
                                    {% else %}
                                        <img src="{% static 'images/default_profile.png' %}" class="profile-pic" alt="Default Pic">
                                    {% endif %}
                                    <span class="username-plain">{{ review.user.username }}</span>
                                </a>
                            </div>
                            <span class="review-date">{{ review.date|date:"M d, Y" }}</span>
                        </div>
                        <div>Rated:
                            {% for i in "12345" %}
                                {% if forloop.counter <= review.rating %}★{% else %}☆{% endif %}
                            {% endfor %}
                        </div>
                        <p class="carousel-review">{{ review.review|truncatewords:15 }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#topReviewsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#topReviewsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

    
    
 <!-- Top Movies -->
 <div class="media-section">
    <h1>Top Movies</h1>
    <div class="media-scroll">
        {% for media_item in trending_movies %}
        <div class="media-item">
            <a href="{% url media_item.type|route_name slug=media_item.slug %}">
                <img src="{{ media_item.cover_image|resolve_image }}" alt="{{ media_item.title }}"
                    width="180"
                    height="270"
                    loading="lazy"
                    class="media-image">
                <p class="media_title">{{ media_item.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

 <!-- Top TV Shows -->
 <div class="media-section">
    <h1>Top TV Shows</h1>
    <div class="media-scroll">
        {% for media_item in trending_shows %}
        <div class="media-item">
            <a href="{% url media_item.type|route_name slug=media_item.slug %}">
                <img src="{{ media_item.cover_image|resolve_image }}" alt="{{ media_item.title }}"
                width="180"
                height="270"
                loading="lazy"
                class="media-image">
                <p class="media_title">{{ media_item.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

 <!-- Top Movies -->
 <div class="media-section">
    <h1>Top Video Games</h1>
    <div class="media-scroll">
        {% for media_item in trending_games %}
        <div class="media-item">
            <a href="{% url media_item.type|route_name slug=media_item.slug %}">
                <img src="{{ media_item.cover_image|resolve_image }}" alt="{{ media_item.title }}"
                width="180"
                height="270"
                loading="lazy"
                class="media-image">
                <p class="media_title">{{ media_item.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

</div>


<!-- Upcoming Releases -->
<div class="right-section">
    <h1>Upcoming Releases</h1>
    <div class="upcoming-media">
        {% for media_item in upcoming_media %}
        <div class="upcoming-item">
            <a href="{% url media_item.type|route_name slug=media_item.slug %}">
                <img src="{{ media_item.cover_image|resolve_image }}" alt="{{ media_item.title }}"
                    loading="lazy"
                    class="media-image">
            </a>
            <div class="upcoming-info">
                <a href="{% url media_item.type|route_name slug=media_item.slug %}">
                    <h3>{{ media_item.title }}</h3>
                </a>
                <p>{{ media_item.description|truncatewords:20|safe }}</p>
                <p><strong>Release Date:</strong> {{ media_item.release_date|date:"F d, Y" }}</p>
            </div>
            {% if user.is_authenticated %}
                <span class="notification-btn {% if media_item.usermediasubscription_set.all %}subscribed{% endif %}" 
                      data-media-id="{{ media_item.media_id }}"
                      data-media-title="{{ media_item.title }}">
                    <i class="{% if media_item.usermediasubscription_set.all %}fa-solid{% else %}fa-regular{% endif %} fa-bell"></i>
                </span>
            {% endif %}
        </div>
        {% empty %}
        <p>No upcoming releases.</p>
        {% endfor %}
    </div>
</div>
</div>

<script src="{% static 'js/carousel.js' %}?v=1"></script>
<script src="{% static 'js/subscription.js' %}?v=1"></script>
{% endblock %}