{% extends "ScreenCritic/base.html" %}
{% load static %}

{% load custom_filters %}

{% block title_block %}
<title>Home - ScreenCritic</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block content %}

<div class="page-container">

<div class="left-section">
 <!-- Top Movies -->
 <div class="media-section">
    <h2>Top Movies</h2>
    <div class="media-scroll">
        {% for media_item in trending_movies %}
        <div class="media-item">
            <a href="{% url media_item.type|route_name slug=media_item.slug %}">
                <img src="{{ media_item.cover_image }}" alt="{{ media_item.title }}">
                <p class="media_title">{{ media_item.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

 <!-- Top TV Shows -->
 <div class="media-section">
    <h2>Top TV Shows</h2>
    <div class="media-scroll">
        {% for media_item in trending_shows %}
        <div class="media-item">
            <a href="{% url media_item.type|route_name slug=media_item.slug %}">
                <img src="{{ media_item.cover_image }}" alt="{{ media_item.title }}">
                <p class="media_title">{{ media_item.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

 <!-- Top Movies -->
 <div class="media-section">
    <h2>Top Video Games</h2>
    <div class="media-scroll">
        {% for media_item in trending_games %}
        <div class="media-item">
            <a href="{% url media_item.type|route_name slug=media_item.slug %}">
                <img src="{{ media_item.cover_image }}" alt="{{ media_item.title }}">
                <p class="media_title">{{ media_item.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

</div>

<!-- Upcoming Releases -->
<div class="right-section">
    <div>
        <h2>TESTING SECTION</h2>
        <div class="media-scroll">
            {% for media_item in upcoming_media %}
            <div class="media-item">
                <a href="{% url media_item.type|route_name slug=media_item.slug %}">
                    <img src="{{ media_item.cover_image }}" alt="{{ media_item.title }}">
                    <p class="media_title">{{ media_item.title }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



</div>


{% endblock %}