{% extends "ScreenCritic/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title_block %}
<title>{{ media_type }} - ScreenCritic</title>
<link rel="stylesheet" href="{% static 'css/media_general.css' %}">
<script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}


{% block content %}
<!-- Suggested for you based on user's genre preferences -->
{% if user.is_authenticated and suggested_movies %}
<div class="media-section">
    <h2>Suggested for You</h2>
    <div class="media-scroll">
        {% for media_item in suggested_movies %}
        <div class="media-item">
            <a href="{% url media_item.type|route_name slug=media_item.slug %}">
                <img src="{{ media_item.cover_image }}" 
                     alt="{{ media_item.title }}"
                     width="180"
                     height="270"
                     loading="lazy"
                     class="media-image">
                <p class="media_title">{{ media_item.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endif %}


 <!-- Trending Media -->
 <div class="media-section">
    <h2>Trending {{media_type}}</h2>
    <div class="media-scroll">
        {% for media_item in trending_movies %}
        <div class="media-item">
            <a href="{% url media_item.type|route_name slug=media_item.slug %}">
                <img src="{{ media_item.cover_image }}" 
                     alt="{{ media_item.title }}"
                     width="180"
                     height="270"
                     loading="lazy"
                     class="media-image">
                <p class="media_title">{{ media_item.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


  <!-- All Movies Alphabetically -->
<div class="media-section">
    <h2>{{media_type}} Alphabetically</h2>
    <div class="media-scroll">
        {% for media_item in movies_alphabetically %}
        <div class="media-item">
            <a href="{% url media_item.type|route_name slug=media_item.slug %}">
                <img src="{{ media_item.cover_image }}" 
                     alt="{{ media_item.title }}"
                     width="180"
                     height="270"
                     loading="lazy"
                     class="media-image">
                <p>{{ media_item.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


  <!-- Specific categories alphabetically??? -->
  {% for genre, movies in movies_by_genre.items %}
<div class="media-section">
    <h2>{{ genre }} {{media_type}}</h2>
    <div class="media-scroll">
        {% for media_item in movies %}
        <div class="media-item">
            <a href="{% url media_item.type|route_name slug=media_item.slug %}">
                <img src="{{ media_item.cover_image }}" 
                     alt="{{ media_item.title }}"
                     width="180"
                     height="270"
                     loading="lazy"
                     class="media-image">
                <p>{{ media_item.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}